
**/.ipynb_checkpoints/*

profile_default/history.sqlite

profile_default/security/kernel-9be3c8c5-a3a6-4131-b9cb-ddfe8492a0a3.json

profile_default/security/kernel-aadd4f51-8bb4-49d8-b62f-d784c363f1b7.json

profile_default/security/nbserver-85930.json

*.db

profile_default/security/notebook_cookie_secret

profile_default/security/notebook_secret

profile_default/startup/README

profile_default/static/custom/custom.css
